body {
font-family : 'Lato', sans-serif; 
}

body p {
color : #000000;
font-family : "Lato", sans-serif;
font-size : 13px;
letter-spacing : 1px;
}
body h1, h2, h3, h4, h5, h6 {
color : #000000;
font-family : "Lato", sans-serif;
font-size : 16px;
text-transform : capitalize;
font-weight : 800;
text-transform : uppercase;
}

 
 
 
 
h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

 
  .table-header {
    background-color: #e8e9e9;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  
  .col-2 {
    flex-basis: 30%;
  }
  li #Fila{
    height: 300PX;
    padding-right: 0;

  }
  
/*////////////////////  tabla ///////////////////////////*/
#wrapper {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#wrapper td, #wrapper th {
  border: 1px solid #ddd;
  padding: 8px;
}

#wrapper tr:nth-child(even){background-color: #f2f2f2;}

#wrapper tr:hover {background-color: #ddd;}

#wrapper th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/************************************** GRUPO DE DIVS EN HORARIO DRAG & DROP ********************************************************/
.list-group-item{
  height:60;
  width:100%;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}

 