<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

<!--   -->
<nav>
  <ul class="nav nav-tabs shadow-sm p-3 mb-4 bg-body-tertiary rounded">
    <li class="nav-item">
      <a class="nav-link active" href="/Home"><i class="fas fa-home"></i> GlλdoS</a>
    </li>

    <!-- Alumnos -->

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false"><i class="fas fa-address-card"></i> Alumnos</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/RegistrarAlumnos"><i class="fas fa-plus"></i> Registrar</a>
        <a class="dropdown-item" href="/AsignacionAlumnos"><i class="fas fa-user-tag"></i> Asignación</a>
        <a class="dropdown-item" href="/BuscarAlumnado"><i class="fas fa-search"></i> Buscar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/Admin"><i class="fas fa-user-slash"></i> Bajas</a>
      </div>
    </li>

    <!-- ALMACEN -->

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false"><i class="fas fa-address-card"></i> Personal</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/cPlaner"><i class="fas fa-plus"></i> Registrar</a>
        <a class="dropdown-item" href="/Planeacion"><i class="fas fa-search"></i> Buscar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/Admin"><i class="fas fa-user-slash"></i> Bajas</a>
      </div>
    </li>

    <!-- Gaveta -->

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false"><i class="fas fa-university"></i> Escolar</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/#"><i class="fas fa-calendar-alt"></i> Ciclo escolar</a>
        <a class="dropdown-item" href="/Materias"><i class="fas fa-book"></i> Materias</a>
        <a class="dropdown-item" href="/#"><i class="fas fa-spell-check"></i> Carreras</a>
        <a class="dropdown-item" href="/Dashboard"><i class="fas fa-spell-check"></i> Dashboard</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/#"><i class="fas fa-history"></i> Historial</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/#"><i class="fas fa-headset"></i>Soporte</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/#" tabindex="-1" aria-disabled="true"><i class="fas fa-laptop-code"></i>
        Desarrollo</a>
    </li>

    <li class="nav-item" visibility: hidden>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-bug"></i> Pruebas</a>
    </li>
    <li>
      <div class="form-check mt-2 form-switch  ">
        <label class="form-check-label" for="lightSwitch">
          <i class="fas fa-moon"></i>
        </label>
        <input class="form-check-input p-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked
          onclick="myFunction()" />
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link " href="/" tabindex="-1" aria-disabled="true"><i class="fas fa-sign-out-alt"></i> Salir</a>
    </li>
  </ul>
</nav>

<script>
  var usuario = localStorage.getItem('usuario');
  var Area = localStorage.getItem('Area');
  var Nodo = document.getElementById("Area");
  var newText = document.createTextNode(usuario + "-" + Area);
 // Nodo.appendChild(newText);
</script>

<!-- DARK MODE -->
<script>
  function myFunction() {
    var element = document.body;
    element.dataset.bsTheme =
      element.dataset.bsTheme == "light" ? "dark" : "light";
  }

 /*  function stepFunction(event) {
    debugger;
    var element = document.getElementsByClassName("collapse");
    for (var i = 0; i < element.length; i++) {
      if (element[i] !== event.target.ariaControls) {
        element[i].classList.remove("show");
      }
    }
  } */
</script>