<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    GlλdoS
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include ('../../partials/head.html') %>
    <!------incluir cabezera navegacion----->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <!-----------------------------------------------     FECHAS MOMENTS     ---------------------------------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script type="text/javascript" src="js/Escolar/CicloEscolar/CicloEscolar.js"></script>
</head>

<body data-bs-theme="dark" onload="CargarListaCicloEscolar()">
  <%- include ('../../partials/navegacion.html') %>
    <!------incluir navegacion Menu----->
    <div class="container-md shadow p-3 mb-5 bg-body-tertiary rounded">
      <div class="card">
        <div class="card-header">
          <div class="col-12 text-center">
            <button type="button" class="btn btn-success" onclick="AbrirModal('ModalFormulario')"><i
                class="fas fa-plus"></i> Nuevo</button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-striped table-hover table-dark table-bordered table-sm border-secundary text-center"
          id="Tabla">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Clave</th>
              <th scope="col">Fecha inicio</th>
              <th scope="col">Fecha cierre</th>
              <th scope="col">Tipo</th>
              <th scope="col">Nota</th>
              <th scope="col">Fecha creación</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>  
      </div>
    </div>

    </div>
















    <!-- Modales -->
    <!-- Modal registro exitoso -->
    <div class="modal" trigger="ModalFormulario" tabindex="-1" id="ModalFormulario">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-primary">NUEVO CICLO ESCOLAR</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              onclick="CerrarModal('ModalFormulario')"></button>
          </div>
          <div class="modal-body">
            <p class="text-primary">Configurar parametros</p>

            <form class="row g-3" id="FormAlumno">
              <div class="col-md-12">
                <label for="Inicio" class="form-label">Fecha inicio</label>
                <input required type="date" id="Inicio" class="form-control" name="Inicio">
              </div>

              <div class="col-md-12">
                <label for="Cierre" class="form-label">Fecha cierre</label>
                <input required type="date" id="Cierre" class="form-control" name="Cierre">
              </div>

              <div class="col-md-12">
                <label for="Tipo" class="form-label">Tipo</label>
                <select id="Tipo" class="form-select">
                  <option value="-" selected disabled>Seleccionar...</option>
                  <option>Semestral</option>
                  <option>Tetramestral</option>
                </select>
              </div>

              <div class="col-md-12">
                <label for="Nota" class="form-label">Nota</label>
                <input type="text" class="form-control" id="Nota" maxlength="50">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="RegistrarNuevoCiclo()">Aceptar</button>
          </div>
        </div>
      </div>
    </div>




    <!-- Modales -->
    <!-- Modal registro exitoso -->
    <div class="modal" tabindex="-1" id="ModalExito">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-primary">Confirmación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              onclick="CerrarModal('ModalExito')"></button>
          </div>
          <div class="modal-body">
            <p class="text-primary">Se ha registrado un nuevo ciclo escolar con exito.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="CerrarModal('ModalExito')">Aceptar</button>
          </div>
        </div>
      </div>
    </div>



    <!-- Modal registro exitoso -->
    <div class="modal" tabindex="-1" id="ModalError">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger-emphasis">Error!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              onclick="CerrarModal('ModalError')"></button>
          </div>
          <div class="modal-body">
            <p class="text-danger-emphasis">Revisar datos correctamente.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" onclick="CerrarModal('ModalError')">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <%- include ('../CicloEscolar/CicloActual.html') %>

</body>