<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GlλdoS
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ('../../partials/head.html') %>
        <!------incluir cabezera navegacion----->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <!-----------------------------------------------     FECHAS MOMENTS     ---------------------------------------------------------------->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script type="text/javascript" src="js/Alumnos/AsignacionAlumnos.js"></script>
</head>

<body data-bs-theme="dark">
    <%- include ('../../partials/navegacion.html') %>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-5 bg-body-tertiary rounded">
                        <div class="card-body">
                            <h5 class="card-title">Activos</h5>
                            <p class="card-text fs-1 fw-bold text-success">175</p>
                        </div>
                        <div class="card-footer bg-transparent border-success">Ciclo 2023-2024</div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow mb-5 bg-body-tertiary rounded">
                        <div class="card-body">
                            <h5 class="card-title">Pendientes</h5>
                            <p class="card-text fs-1 fw-bold text-danger">25</p>
                        </div>
                        <div class="card-footer bg-transparent border-danger">Ciclo 2023-2024</div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow mb-5 bg-body-tertiary rounded">
                        <div class="card-body">
                            <h5 class="card-title">Bajas</h5>
                            <p class="card-text fs-1 fw-bold text-warning">4</p>
                        </div>
                        <div class="card-footer bg-transparent border-warning">Año 2023</div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow mb-5 bg-body-tertiary rounded">
                        <div class="card-body">
                            <h5 class="card-title">Nuevos</h5>
                            <p class="card-text fs-1 fw-bold text-info">15</p>
                        </div>
                        <div class="card-footer bg-transparent border-info">Ciclo 2023-2024</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col-6">
                    <div class="card shadow mb-5 bg-body-tertiary rounded">
                        <div id="donutchart"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card shadow mb-5 bg-body-tertiary rounded">
                        <div id="columnchart_values"></div>
                    </div>
                </div>
            </div>

        </div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Work', 11],
                    ['Eat', 2],
                    ['Commute', 2],
                    ['Watch TV', 2],
                    ['Sleep', 7]
                ]);

                var options = {
                    title: 'My Daily Activities',
                    pieHole: 0.4,
                    backgroundColor: {
                        fill: '#2b3035',//Modo oscuro
                        fillOpacity: 0.8
                    },
                    textStyle: {
                        fontName: 'Times-Roman',
                        fontSize: 18,
                        bold: true,
                        italic: true,
                        // The color of the text.
                        color: '#871b47',
                        // The color of the text outline.
                        auraColor: '#d799ae',
                        // The transparency of the text.
                        opacity: 0.8
                    }


                };

                var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                chart.draw(data, options);
            } 
        </script>


        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['bar'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Year', 'Sales', 'Expenses', 'Profit'],
                    ['2014', 1000, 400, 200],
                    ['2015', 1170, 460, 250],
                    ['2016', 660, 1120, 300],
                    ['2017', 1030, 540, 350]
                ]);

                var options = {
                    chart: {
                        title: 'Company Performance',
                        subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                    },
                    backgroundColor: {
                        fill: '#2b3035',//Modo oscuro
                        fillOpacity: 0.8
                    },
                };

                var chart = new google.charts.Bar(document.getElementById('columnchart_values'));

                chart.draw(data, google.charts.Bar.convertOptions(options));
            }
        </script>







</body>